/* style.css */
#mapContainer {
    border: 2px solid #ccc;
    padding: 20px;
    margin: auto;
    width: 90%;
    box-sizing: border-box;
    position: relative;
    /* For positioning inner elements absolutely relative to this container */
}

.year-slider {
    width: 60%;
    /* Adjust this value based on your layout needs */
    margin: 10px 0;
    /* Provides some space around the slider */
}
