h1 {
    text-align: center;
    font-family: Garamond;
}

#mapContainer {
    border: 2px solid #ccc;
    padding: 20px;
    margin: auto;
    width: 90%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose-year {
    width: 70%;
    display: inline;
    margin: 10px;
}

.choose-year label {
    margin-left: 10px;
}

.year-slider {
    width: 60%;
    margin-left: 10px;
}
