body {
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue";
}

.navbar-nav .nav-item {
    display: flex;
    align-items: center;
}

.navbar-brand {
    letter-spacing: 3px;
    color: #ad7474;
}

.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
    color: #995b5b;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
    color: #995b5b;
}

.navbar-scrolled {
    background-color: #be9191;
}

h1 {
    text-align: center;
    margin-top: 60px;
    color: #995b5b;
}

#mapContainer {
    border: 2px solid #ccc;
    padding: 20px;
    margin: auto;
    width: 90%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose-year {
    width: 70%;
    display: inline;
    margin: 10px;
}

.choose-year label {
    margin-left: 10px;
}

.year-slider {
    width: 60%;
    margin-left: 10px;
}
